  <div class="form-inputs">
    <%= simple_form_for(@recipe) do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :title %>
      <%= f.input :price %>
      <%= f.input :category %>
      <%= f.input :description, as: :text, :input_html => { :cols => 5, :rows => 5 } %>
      <%= f.input :number_of_people %>
      <div data-controller="add-ingredient-recipe">
        <div data-add-ingredient-recipe-target="list">
          <template class="d-flex ingredient-form">
            <div class="d-flex ingredient-form flex-wrap">
              <%= f.fields_for :recipe_ingredients do |ingredient| %>
                <div class="col-6">
                  <%= ingredient.input :ingredient_id, collection: Ingredient.all, value_method: :id %>
                </div>
                <%= ingredient.input :amount %>
                <%= ingredient.input :unit %>
              <% end %>
            </div>
          </template>
          <div class="d-flex ingredient-form flex-wrap">
            <%= f.fields_for :recipe_ingredients do |ingredient| %>
              <div class="col-6">
                <%= ingredient.input :ingredient_id, collection: Ingredient.all, value_method: :id %>
              </div>
              <%= ingredient.input :amount %>
              <%= ingredient.input :unit %>
            <% end %>
          </div>
        </div>

        <button class="btn btn-warning add-ingredient" data-action="click->add-ingredient-recipe#add">Add ingredient</button>
      </div>
      <%= f.input :instructions, as: :text, :input_html => { :cols => 5, :rows => 10 } %>
      <%= f.submit "Publish recipe", class: "btn btn-warning"  %>
    <% end %>
  </div>
