<div class="container" data-controller="order-recipes-by">
  <div class="d-flex justify-content-between mt-2">
    <div>
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @recipes.count %> recipes out of our <%= Recipe.count %> on our website.</p>
      <% else %>
        <p>All <%= @recipes.count %> recipes</p>
      <% end %>
    </div>
    <div>
      <select name="Order-By" data-action="change->order-recipes-by#orderRecipes">
        <option value="">Latest</option>
        <option value="top">Highest rating</option>
        <option value="lowest">Lowest rating</option>
      </select>
    </div>
  </div>
  <div class="cards" data-order-recipes-by-target="cards">
    <% @recipes.each do |recipe| %>
      <div class="card-trip">
        <img src="https://www.gutekueche.at/storage/media/recipe/134629/spaghetti-al-pomodoro.jpg"/>
        <div class="card-trip-infos">
          <div>
            <h2><%= recipe.title %> <span style="opacity: 0.6; font-size: 14px;">• <%= recipe.average_rating %></span> <span style="font-size: 14px;">⭐</span></h2>
            <p><%= recipe.description %></p>
          </div>
        </div>
        <h2 class="card-trip-pricing"><%= recipe.price %></h2>
        <%= link_to("Read more", recipe_path(recipe), class: "read-more-button") %>
      </div>
    <% end %>
  </div>
</div>
