<div class="container d-flex mt-3">
  <div class="recipe-show-img">
    <% if @recipe.photo.attached? %>
      <%= cl_image_tag @recipe.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= image_tag "https://www.gutekueche.at/storage/media/recipe/134629/spaghetti-al-pomodoro.jpg", height: 300, width: 400 %>
    <% end %>
  </div>
  <%# if recipe has any ratings, display rating with stars %>
  <div class="container__text recipe-show-info">
    <% if @recipe.ratings.any? %>
        <%# Recipe title %>
        <h1 class="text-dark"><%= @recipe.title %></h1>
        <%# Display stars %>
        <div class="container__text__star">
          <% if @recipe.average_rating_bis === 0 %>
            <span class="fa-regular fa-star"></span>
          <% end %>
          <% @recipe.average_rating_bis.round.times do %>
            <span class="fa fa-star"></span>
          <% end %>
          <span class="text-dark"><%= @recipe.average_rating_bis %>/5</span>
        </div>
      <%# if no ratings display this %>
    <% else %>
      <h1 class="text-dark"><%= @recipe.title %></h1>
      <p>No ratings</p>
    <% end %>

    <p><%= @recipe.description %></p>

    <%# Instructions and ingredients should be visible when user bought the recipe %>
    <% recipe_purchased = user_signed_in? && current_user.purchased_recipes.include?(@recipe) %>
    <% recipe_created = user_signed_in? && current_user.recipes.include?(@recipe) %>
    <% if recipe_purchased %>
      <h3>Instructions:</h3>
      <p><%= @recipe.instructions %></p>
      <h3>Ingredients:</h3>
      <ul>
        <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
          <% ingredient = Ingredient.find(recipe_ingredient.ingredient_id) %>
          <li class="text-dark"><%= ingredient.name %> - <%= recipe_ingredient.amount %> <%= recipe_ingredient.unit %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="container__text__timing">
      <div class="container__text__timing_time">
        <h2>Number of portions</h2>
        <p class="text-dark"><%= @recipe.number_of_people %></p>
      </div>
      <div class="container__text__timing_time">
        <h2>Chef</h2>
        <p class="text-dark"><%= @recipe.user.user_name %></p>
      </div>
      <div class="container__text__timing_time">
        <h2>Price</h2>
        <p class="text-dark">€<%= @recipe.price %></p>
      </div>
    </div>
    <% if recipe_purchased || recipe_created %>
      <p>This recipe is on your "Purchased" list! 😊 </p>
      <%= link_to "Back", recipes_path, class: "btn btn-outline-secondary mb-3" %>
      <%= link_to "Go to my recipes", user_path(current_user), class: "btn btn-outline-dark mb-3" %>
    <% else %>
      <%= link_to "Buy", new_recipe_purchase_path(@recipe), class: "btn btn-yellow px-5" %>
      <%= link_to "Back to recipes", recipes_path, class: "btn btn-outline-dark" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div data-controller="insert-ratings">
    <hr class="my-5">
    <div class="row">
    <% if user_signed_in? %>
      <div class="col-12 col-sm-6" data-insert-ratings-target="items">
        <h3>Ratings</h3>
        <% if @recipe.ratings.empty? %>
          <small><em class="text-muted">Be the first one to review this recipe</em></small>
        <% end %>
        <% @recipe.ratings.each do |rating| %>
          <%= render "ratings/rating", rating: rating %>
        <% end %>
      </div>
    <% end %>
    <% if user_signed_in? && current_user.purchased_recipes.include?(@recipe) %>
      <div class="col-12 col-sm-6">
        <div class="bg-white rounded p-3">
          <h5>Add your review</h5>
          <%= render "ratings/form", rating: @rating, recipe: @recipe %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
