
<div class="recipe-show container mx-auto d-flex">
   <img
    src="https://images.unsplash.com/photo-1549589237-9e70b6be4da8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80"
    alt="Pancake"
   />
   <%# if recipe has any ratings, display rating with stars %>
   <% if @recipe.ratings.any? %>
    <% sum = 0 %>
      <% count = 0%>
      <% @recipe.ratings.each do |rating| %>
        <% sum += rating.rating.to_f %>
        <% count +=1 %>
      <% end %>
      <% if count.zero? %>
        <% average = nil %>
      <% else %>
        <% average = (sum/count).round(1) %>
      <% end %>
   <div class="container__text">
    <h1 class="text-dark"><%= @recipe.title %></h1>
    <div class="container__text__star">
      <% if average === 0 %>
        <span class="fa-regular fa-star"></span>
      <% end %>
      <% average.round.times do %>
        <span class="fa fa-star"></span>
      <% end %>
     <p><%= average %>/5</p>
    </div>
    <%# if no ratings display this %>
    <% else %>
    <p>There are no ratings for this recipe yet</p>
  <% end %>


    <h3>Description:</h3>
    <p><%= @recipe.description %></p>

    <%# Instructions should be visible when user bought the recipe %>
    <% if user_signed_in? && current_user.purchased_recipes.include?(@recipe) %>
      <h3>Instructions:</h3>
      <p><%= @recipe.instructions %></p>
    <% end %>
    <div class="container__text__timing">
     <div class="container__text__timing_time">
      <h2>Number of portions</h2>
      <p class="text-dark"><%= @recipe.number_of_people %></p>
     </div>
     <div class="container__text__timing_time">
      <h2>Chef</h2>
      <p class="text-dark"><%= @recipe.user.user_name %></p>
     </div>
     <div class="container__text__timing_time">
      <h2>Price</h2>
      <p class="text-dark"><%= @recipe.price %>euros</p>
     </div>
    </div>
     <%= link_to "Buy", new_recipe_purchase_path(@recipe), class: "btn btn-yellow px-5" %>
    <%= link_to "Back to recipes", recipes_path, class: "btn btn-outline-dark" %>
   </div>
</div>

<% if user_signed_in? && current_user.purchased_recipes.include?(@recipe) %>
  <hr class="my-5">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3>Ratings</h3>
      <% if @recipe.ratings.empty? %>
        <small><em class="text-muted">Be the first one to review this list</em></small>
      <% end %>
      <% @recipe.ratings.each do |rating| %>
        <div>
          <% rating.rating.times do %>
            <i class="fa fa-star star-color"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(rating.created_at) %> ago</em></small>
          <p class="mb-0"><%= rating.comment %></p>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h5>Add your review</h5>
        <%= simple_form_for [@recipe, @rating] do |f| %>
          <%= f.input :comment, placeholder: "Add your rating here..." %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true %>
          <%= f.submit class: "btn btn-flat mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
