<div class='container'>
  <div class='row'>
    <div class='col-md-12'>

      <%# user card %>
      <div class="user_card">
        <div class="user_info">
          <h1><%= @user.user_name %></h1>
          <h2> <%= @user.first_name %> <%= @user.last_name %></h2>
          <p><%= @user.email %></p>
          <p><%= @user.nationality %></p>
          <a href=# class="btn btn-success">Change my information ⚙️</a>
        </div>
        <img src="https://cdn-icons-png.flaticon.com/512/3607/3607444.png" alt="user avatar">
      </div>

      <%# purchased %>
      <div class="recipe_card">
        <div class="card_menu_seperator">
          <h2>Purchased recipes</h2>
          <%= link_to("Find new recipe's", "#", class: "btn btn-success") %>
        </div>
        <div class="list-group">
          <% @user.purchases.each do |purchase| %>
            <%= link_to(purchase.recipe.title, "#", class: "list-group-item list-group-item-action") %>
            <%# recipe_path[purchase.recipe] %>
          <%end%>
          <%# to change the color of the link, add class: active, add after class: aria-current="true"%>
          <%# <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a> %>
        </div>
      </div>

      <%# created %>
      <div class="recipe_card">
        <div class="card_menu_seperator">
          <h2>Created recipes</h2>
          <%= link_to("Create new recipe", "#", class: "btn btn-success") %>
        </div>
        <div class="list-group">
          <% @user.recipes.each do |recipe| %>
            <%= link_to(recipe.title, "#", class: "list-group-item list-group-item-action") %>
            <%# recipe_path[purchase.recipe] %>
          <%end%>
          <%# to change the color of the link, add class: active, add after class: aria-current="true"%>
          <%# <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a> %>
        </div>
      </div>
<%# end %>
    </div>
  </div>
</div>
