<div class="purc-container">
  <div class="purc-sidecontainer">
    <%= image_tag "logo_black.png", class: "logo" %>
    <div class="price-name">
      <h2><%= @recipe.title %></h2>
      <p class="price">€ <%= @recipe.price %></p>
    </div>
    <% if @recipe.photo.key.nil? %>
      <img class="recipe-pic" src="https://www.gutekueche.at/storage/media/recipe/134629/spaghetti-al-pomodoro.jpg" alt="spaguetti">
    <% else %>
      <%= cl_image_tag @recipe.photo.key, crop: :fill %>
    <% end %>
    <%= button_to "Pay now", recipe_purchases_path(@recipe), class: "px-4 btn btn-yellow mx-auto" %>
  </div>
</div>
