<nav class="bg-dark border-body">
  <div class="container-fluid d-flex justify-content-between">
    <%# logo div %>
    <div class="d-flex container align-items-center">
      <%= link_to root_path do %>
        <%= image_tag "brand.png", width: "50" %>
      <% end %>
    </div>
    <%# search field div %>
    <div id="search-field" class="d-flex container align-items-center">
      <form class="d-flex flex-fill" action="/recipes" role="search">
        <input class="form-control me-2 flex-fill" type="search" placeholder="Search" aria-label="Search" name="query" value="">
        <button class="btn btn-warning" type="submit">Search</button>
      </form>
    </div>
    <%# buttons field %>
    <div class="d-flex container align-items-center justify-content-end">
      <ul class="d-flex flex-row">
        <% if user_signed_in? %>
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Recipes
          </button>
          <ul class="dropdown-menu btn btn-dark bg-dark">
            <div class="d-flex row">
              <li><%= link_to "Show all", recipes_path %></li>
              <li><%= link_to "Create recipe", new_recipe_path %></li>
            </div>
          </ul>
          <li class="nav-item">
            <%= link_to "Log Out", destroy_user_session_path %>
          </li>
          <li class="nav-item">
            <%= link_to "My Profile", user_path(current_user) %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Recipes", recipes_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path %> / <%= link_to "Sign Up", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
